{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout--default',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>

    {% if content.primary %}
      <div {{ region_attributes.primary.addClass('layout-default--primary') }}>
        {{ content.primary }}
      </div>
    {% endif %}

    {% if content.secondary %}
      <aside {{ region_attributes.secondary.addClass('layout-default--secondary') }}>
        {{ content.secondary }}
      </aside>
    {% endif %}

  </div>
{% endif %}
